.clickable {
  cursor: pointer;
}

input.login-input {
  width: 360px;
}

.background {
  background-image: url("/library.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
